<h1>Create Merchant <%=link_to "Merchant Dashboard", "/merchant" %></h1>

<center>
  <%= form_tag "/merchant", method: :post  do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <br/>
    <%= label_tag :percentage %>
    <%= text_field_tag :percentage %>
    <br/>
    <%= label_tag :bulk %>
    <%= text_field_tag :bulk %>
    <br/>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
    <br/>
    <br/>
    <%= submit_tag 'Create Discount' %>
  <% end %>
</center>
